:root {
  --gradient: linear-gradient(45deg, #30343F 40%, #30343F 100%);
  --light: #fff;
  --grey: #f8f9fa;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}
.main-bgcolor {
  background-image: var(--gradient);
}
.light-color {
  color: var(--light) !important;
}
.grey-bgcolor {
  background: var(--grey);
}
.company_brand {
  font-size: x-large;
  font-family: 'Lato', sans-serif;
}

.section {
  padding: 50px 0;
}

.section-body {
  padding: 20px 0;
}